[Unit]
Description=Rebuild and Re-sign standalone GRUB and EFI
After=local-fs.target
Wants=local-fs.target
ConditionPathExists=/etc/secureboot/grub-standalone.conf

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/grub-standalone-watch.sh
Nice=19
IOSchedulingClass=Idle
CPUSchedulingPolicy=batch

[Install]
WantedBy=multi-user.target
